body {
  min-height: 100vh;
  background: #212534;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  font-size: 0.75rem;
}

.card {
  background-color: rgb(49, 54, 72);
  width: 200px; 
  aspect-ratio: 3 / 4; 
  padding: 1rem;
  border-radius: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: box-shadow 0.3s ease;
  box-sizing: border-box;
}

.card:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.card-body img {
  width: 75px;
  height: 75px;
  object-fit: contain; 
  padding-top: 0.8rem;
  margin-bottom: 16px;
  transition: transform 0.4s ease;
  will-change: transform;
}

.card-body img:hover {
  transform: perspective(1000px) rotateY(15deg) translateY(-15px);
  filter: drop-shadow( 0 0 0.55rem rgba(64, 170, 121, 0.2))
}

.stock-status {
  display: flex;
  align-items: center;
}

.on-sale-status {
  border-color: #ff4d4d;
  color: #ff4d4d;
}

.status-marker {
  background-color: transparent;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 0.7rem;
  margin-right: 8px;
  border: 2px solid #1e9f75;
  color: #1e9f75;
}

.badge {
  background-color: #1e9f75;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 0.7rem;
  margin-right: 8px;
}

.counter-container {
  display: flex;
  align-items: center;
  background-color: #40404b;
  border-radius: 4px;
  padding: 4px;
  font-size: 0.75rem;
  color: white;
  justify-content: flex-end;
}

.counter-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
}

button {
  background-color: transparent;
  color: white;
  border: none;
  width: 15px;
  height: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

button:hover {
  background-color: #76c38f;
}

button:active {
  background-color: #1e9f75;
}

button:disabled {
  background-color: transparent;
  cursor: not-allowed;
  color: #888;
}

.counter-value {
  font-size: 0.75rem;
  padding: 0 4px;
  text-align: center;
}

.card-body {
  text-align: center;
}

h4 {
  font-size: 1.2rem;
  margin: 8px 0;
}

p {
  font-size: 0.65rem;
  color: #666;
  margin-bottom: 16px;
}

.price {
  display: flex;
  flex-direction: column;
}

.current-price {
  font-size: 1rem;
  font-weight: bold;
  color: white;
}

.original-price {
  text-decoration: line-through;
  color: #ff4d4d;
}

.selectors {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.selectors .option select {
  padding: 6px 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  color: #333;
  font-size: 0.65rem;
  max-width: 130px;
  cursor: pointer;
  appearance: none;
  transition: background-color 0.3s ease;
}

.selectors .option select:hover {
  background-color: #e0e0e0;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  gap: 10px;
  flex-wrap: wrap;
}

.add-btn, .details-btn {
  flex: 1 1 auto;
  text-align: center;
  white-space: nowrap;
  font-size: 0.65rem;
}

.add-btn:hover, .details-btn:hover {
  transform: translateY(-2px);
}

.add-btn:active, .details-btn:active {
  transform: translateY(0);
}

.add-btn {
  background-color: #93b59d;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 0.65rem;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  min-width: 100px;
  white-space: nowrap;
  background-image: linear-gradient(90deg, #3d2e85, #8376c3, #776be4);
  background-size: 200% 100%;
  background-position: right bottom;
}

.add-btn:hover {
  background-position: left bottom;
  transform: translateY(-2px);
}

.add-btn:active {
  transform: translateY(0);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}

.details-btn {
  background: none;
  border: 1px solid #b3b3b3;
  color: #b3b3b3;
  padding: 8px 12px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 0.65rem;
  font-weight: bold;
  transition: color 0.3s ease, border-color 0.3s ease, transform 0.3s ease;
}

.details-btn:hover {
  color: rgb(49, 64, 45);
  border-color: rgb(49, 64, 45);
  transform: translateY(-2px);
}

.details-btn:active {
  transform: translateY(0);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}
