
<h1 class="toolbar__title">Condimentum consectetur</h1>

<div class="toolbar">
 
  <div class="filter-select">
    <button class="filter-button">
      <i class="icon-game"></i>
      <span>Select a game</span>
      <span class="arrow">▼</span>
    </button>
  </div>

  <div class="search">
    <i class="icon-search"></i>
    <input type="text" placeholder="Search">
  </div>

  <button class="filter-button">
    <i class="icon-price"></i>
    <span>Price</span>
    <span class="arrow">▼</span>
  </button>

  <button class="filter-button">
    <i class="icon-item"></i>
    <span>Item Type</span>
    <span class="arrow">▼</span>
  </button>
</div>
