<div class="page-container">
  
  <app-navbar class="nav-bar"></app-navbar>
  <app-filter-navbar class="nav-filter"></app-filter-navbar>


  <div class="content">
    <div class="container">
      <div class="card-grid">
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
      </div>

      <app-paginator></app-paginator>

    </div>
  </div>


  <app-footer class="footer"></app-footer>
  <app-background></app-background>
</div>
